@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 4rem;
}

.header a {
  font-size: 1.25rem;
  position: relative;
  display: inline-block;
  margin-right: 1rem;
  text-decoration: none;
  color: inherit;
}

.header a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: currentColor;
  border-radius: 4px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.sparkle {
  width: 40px;
  height: 40px;
  fill: currentColor;
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.jobTitle {
  font-size: 2rem;
  font-weight: lighter;
  font-family: "Bricolage Grotesque", sans-serif;
  color: rgb(198, 75, 23);
}

.profileImage {
  border-radius: 8px;
  width: 100%;
  height: auto;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
}

.bigName {
  color: rgb(198, 75, 23);
  font-weight: lighter;
  font-family: "EB Garamond", serif;
  font-size: 3rem;
}

.aboutContent, .workContent {
  display: flex;
  flex-direction: column;
}

.aboutContent h1, .workContent h1 {
  font-family: "EB Garamond", serif;
  font-size: 2.5rem;
  color: rgb(198, 75, 23);
  margin-bottom: 1rem;
}

.aboutContent p, .workContent p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.button74 {
  width: 20%;
  margin: 0 auto;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button74:hover {
  background-color: #fff;
}

.button74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.caseStudyItem {
  width: 100%;
  margin: 20px 0;
  margin-bottom: 30px;
  overflow: hidden;
  border: 1px solid #ddd;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 20px 20px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: transform 0.3s ease;
}

.caseStudyItem:hover {
  transform: scale(1.05);
}

.caseStudyItem a {
  text-decoration: none;
  color: inherit;
}

.image {
  width: 20%;
  height: auto;
  border-radius: 10px;
  margin: 50px;
  margin-bottom: 0;
}

.content {
  padding: 20px;
}

.content h3 {
  margin: 0 0 10px;
  font-size: 24px;
}

.content p {
  margin: 0;
  font-size: 16px;
  color: #555;
}

.caseStudies {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .header {
    flex-direction: column;
    margin-top: 20px;
    align-items: space-between;
  }

  .header a {
    margin-bottom: 0.5rem;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .bigName {
    font-size: 2rem;
    text-align: center;
  }

  .sparkle {
    width: 30px;
    height: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .profileImage {
    width: 100%;
    height: auto;
  }

  .whyUGC, .about {
    text-align: center;
  }

  .button74 {
    min-width: 120px;
    width: 40%;
    line-height: 30px;
    padding: 0 25px;
    font-weight: 600;
    font-size: 11px;
  }

  .caseStudyItem {
    width: 90%;
    margin-left: 10px;
    margin-bottom: 50px;
  }

  .image {
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }
}