@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 4rem;
}

.header a {
  font-size: 1.25rem;
  position: relative;
  display: inline-block;
  margin-right: 1rem;
  text-decoration: none;
  color: inherit;
}

.header a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: currentColor;
  border-radius: 4px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.sparkle {
  width: 40px;
  height: 40px;
  fill: currentColor;
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.jobTitle {
  font-size: 2rem;
  font-weight: lighter;
  font-family: "Bricolage Grotesque", sans-serif;
  color: rgb(198, 75, 23);
}

.profileImage {
  border-radius: 8px;
  width: 100%;
  height: auto;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
}

.bigName {
  color: rgb(198, 75, 23);
  font-weight: lighter;
  font-family: "EB Garamond", serif;
  font-size: 3rem;
}

.aboutContent, .workContent {
  display: flex;
  flex-direction: column;
}

.aboutContent h1, .workContent h1 {
  font-family: "EB Garamond", serif;
  font-size: 2.5rem;
  color: rgb(198, 75, 23);
  margin-bottom: 1rem;
}

.aboutContent p, .workContent p {
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .header {
    flex-direction: column;
    margin-top: 20px;
    align-items: space-between;
  }

  .header a {
    margin-bottom: 0.5rem;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .bigName {
    font-size: 2rem;
    text-align: center;
  }

  .sparkle {
    width: 30px;
    height: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* display: none; */
  }

  .profileImage {
    width: 100%;
    height: auto;
  }

  .whyUGC, .about {
    text-align: center;
  }
}