@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 4rem;
}

.header a {
  font-size: 1.25rem;
  margin-right: 1rem;
}

.sparkleLogo {
  width: 2rem;
  height: 2rem;
}

.profileImage {
  border-radius: 8px;
  width: 100%; /* Ensure the image takes full width */
  height: auto; /* Maintain aspect ratio */
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
}

.bigName {
  color: rgb(198, 75, 23);
  font-weight: lighter;
  font-family: "EB Garamond", serif;
  font-size: 3rem;
}

.aboutContent, .workContent {
  display: flex;
  flex-direction: column;
}

.aboutContent h1, .workContent h1 {
  font-family: "EB Garamond", serif;
  font-size: 2.5rem;
  color: rgb(198, 75, 23);
  margin-bottom: 1rem;
}

.aboutContent p, .workContent p {
  font-size: 1.25rem;
  line-height: 1.5;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .header {
    flex-direction: column;
    margin-top: 20px;
    align-items: space-between;
  }

  .header a {
    margin-bottom: 0.5rem;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .bigName {
    font-size: 2rem;
    text-align: center;
  }

  .profileImage {
    width: 100%;
    height: auto;
  }

  .whyUGC, .about {
    text-align: center;
  }
}